<sb-layout-dashboard [static]="false">
    <div class="card">
        <div class="card">
            <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
                <div class="col-md-8">
                    <h4 style="color: #6190b6;">Danh sách kỳ báo cáo</h4>

                </div>
                <div class="col-md-2">
                    <div>
                        <input style=" width: 100%;
                        height: 35px " pInputText type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Nhập năm để tìm kiếm" />
                    </div>
                    <div >
                        <input [(ngModel)]="year" style=" width: 100%;
                        height: 35px " pInputText type="text" placeholder="Nhập năm để tạo kỳ">
                    </div>
                    
                </div>

                <div class="col-md-2">
                    <button [disabled]="!year || !checkchucnangThem" pButton pRipple
                        label="Tạo kỳ báo cáo" style="height: 35px; margin-left: 5px;" icon="pi pi-plus"
                        class="p-button-success p-mr-2" (click)="add()"></button>
                </div>
                <!-- </div>
                                  <div class="col-md-2" > -->

                <!-- </div>
                          
                        
                        <div class="col-md-2">                               -->
                <!-- <button [disabled]="!checkchucnangdongmoky" pButton pRipple label="Đóng/Mở kỳ"
                        style="height: 37px; margin-left: 5px;" class="p-button-success p-mr-2"
                        (click)="openNew1()"></button> -->

            </p-toolbar>

        </div>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkXem" #dt [value]="Periods" [rows]="17" [paginator]="true"
            [globalFilterFields]="['loaiky','nam','quy','thang','ngaybatdau','ngayketthuc','ghichu']" styleClass="p-datatable-gridlines" [rowHover]="true"
            dataKey="id" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">

            <!-- <ng-template pTemplate="caption">
                <div class="p-fluid p-grid">
                    <div class="p-col-4">
                        <h3 class="p-m-0">Danh sách kỳ báo cáo</h3>
                    </div>
                    <div class="p-field p-col-4 ">
                        <input style=" width: 402px;
                                    height: 35px " pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="searchValue"
                            placeholder="Nhập dữ liệu cần tìm..." />
                     
                        <input [(ngModel)]="year" style=" width: 402px;
                        height: 35px " pInputText type="text" placeholder="Nhập năm để tạo kỳ báo cáo">
                        <button [disabled]="year===''" pButton pRipple label="Tạo kỳ báo cáo" style="height: 37px"
                            icon="pi pi-plus" class="p-button-success p-mr-2" (click)="add()"></button>
                        <button pButton pRipple label="Đóng/Mở kỳ" style="height: 37px" icon="pi pi-plus"
                            class="p-button-success p-mr-2" (click)="openNew1()"></button>
                    </div>
                </div>
            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="loaiky" style="text-align-last: center;">Loại kỳ <p-sortIcon field="loaiky">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="nam" style="text-align-last: center;">Năm <p-sortIcon field="nam">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="quy" style="text-align-last: center;">Quý <p-sortIcon field="quy">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="thang" style="text-align-last: center;">Tháng <p-sortIcon field="thang">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="ngaybatdau" style="text-align-last: center;">Ngày bắt đầu <p-sortIcon
                            field="ngaybatdau">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="ngayketthuc" style="text-align-last: center;">Ngày kết thúc <p-sortIcon
                            field="ngayketthuc">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="ghichu" style="text-align-last: center;">Ghi chú <p-sortIcon field="ghichu">
                        </p-sortIcon>
                    </th>
                    <!-- <th pSortableColumn="trangthai" style="text-align-last: center;">Trạng thái <p-sortIcon
                            field="trangthai">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th> -->

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-period searchFilter:searchValue>
                <tr>
                    <td style="text-align-last: center;">{{period.loaiky==1?"Theo tháng":period.loaiky==2?"Theo
                        quý":"Theo năm"}}</td>
                    <td style="text-align-last: center;">{{period.nam}}</td>
                    <td style="text-align-last: center;">{{period.quy==NULL?"-":period.quy}}</td>
                    <td style="text-align-last: center;">{{period.thang==NULL?"-":period.thang}}</td>
                    <td style="text-align-last: center;">{{period.ngaybatdau|date:'shortDate'}}</td>
                    <td style="text-align-last: center;">{{period.ngayketthuc|date:'shortDate'}}</td>
                    <td style="text-align-last: center;">{{period.ghichu}}</td>
                    <!-- <td style="text-align-last: center;"><span
                            [class]="'period-badge trangthai-' + period.trangthai">{{period.trangthai?
                            "Active":"InActive"}}</span></td>
                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            (click)="edit(period)"></button>
                        <button style="left: 10px;" (click)="delete(period)" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-mr-2"></button>
                    </td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{Periods ? Periods.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="EditDialog" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <p-header style="color: #6190b6;">
            Chỉnh sửa kỳ báo cáo
        </p-header>
        <ng-template pTemplate="content">

            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Năm báo cáo</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="period.nam" required autofocus
                    disabled />
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Qúy</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="period.quy" required autofocus
                    disabled />
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Kỳ báo cáo (tháng)</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="period.thang" required autofocus
                    disabled />
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Ngày bắt đầu</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="period.ngaybatdau" required autofocus
                    disabled />
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Ngày kết thúc</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="period.ngayketthuc" required autofocus
                    disabled />
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Ghi chú</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="period.ghichu" required autofocus />
            </div>
            <div class="col-md-12">
                <label>Trạng thái</label>
                <select class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" [(ngModel)]="period.trangthai" required autofocus>
                    <option [value]="1">
                        Active
                    </option>
                    <option [value]="0">
                        InActive
                    </option>
                </select>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
    </p-dialog>
    <!-- dialog đóng mở kỳ -->
    <p-dialog [(visible)]="EditDialog1" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <p-header style="color: #6190b6;">
            Đóng mở kỳ
        </p-header>
        <ng-template pTemplate="content">
            <!-- <div class=col-md-6>
                <select id="" (change)="getKyFlowNLDL(nldl_id)" [(ngModel)]="nldl_id">
                    <option [ngValue]="nldl.id" *ngFor="let nldl of NLDLs">{{nldl.name}}</option>
                </select>
            </div>
            <div class=col-md-6>
                <select id="" [(ngModel)]="nldl_id">
                    <option [ngValue]="ky.id" *ngFor="let ky of Period2">{{ky.ten}}</option>
                </select>
            </div> -->

            <div class="row">
                <div class="col-md-6">
                    <label>Báo cáo</label>
                    <select class="form-control py-2" id=""
                        (change)="getLoaiKys(year,nldl_id);getTrangThai(nldl_id,kybc_id)" [(ngModel)]="nldl_id">
                        <option [ngValue]="nldl.id" *ngFor="let nldl of NLDLs">{{nldl.name}}</option>
                    </select>

                </div>

                <div class="col-md-3">
                    <label>Năm</label>
                    <select class="form-control py-2" [(ngModel)]="year" (change)="getLoaiKys(year,nldl_id)">
                        <option *ngFor="let y of Year">{{y}}</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label>Kỳ</label>
                    <select class="form-control py-2" [(ngModel)]="kybc_id" (change)="getTrangThai(nldl_id,kybc_id)">
                        <option [ngValue]="kybc.id" *ngFor="let kybc of KyBC">{{kybc.ten}}</option>
                    </select>
                </div>

            </div>
            <h4>Trạng thái: {{TrangThai == 1?"Mở":"Đóng"}}</h4>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog1()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="save1(nldl_id,kybc_id)"></button>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
</sb-layout-dashboard>s