<a class="nav-link" [routerLink]="sideNavItem?.link" (click)="expanded = !expanded"
    [ngClass]="{active: isActive, collapsed: !expanded}">
    <div class="sb-nav-link-icon" *ngIf="sideNavItem?.icon">
        <fa-icon [icon]='["fas", sideNavItem?.icon]'></fa-icon>
    </div>
    {{sideNavItem?.text}}
    <div class="sb-sidenav-collapse-arrow">
        <fa-icon class="ml-auto" *ngIf="sideNavItem?.ConfigReports" [icon]="['fas', 'angle-down']"></fa-icon>
    </div>
</a>

<nav class="sb-sidenav-menu-nested nav" 
    *ngIf="sideNavItem?.ConfigReports && expanded && sideNavItem?.text==='NHẬP DỮ LIỆU'">
    <div *ngFor="let l of bophan">
        <div *ngFor="let submenuItem of l">
            <sb-side-nav-item [hidden]="!checkchucnangimport" class="" (click)="getIdMenu(submenuItem)" *ngIf="submenuItem.trangthai =='1'" [sideNavItem]="submenuItem">
            </sb-side-nav-item>
        </div>
    </div>
</nav>
<!-- <nav class="sb-sidenav-menu-nested nav" 
    *ngIf="sideNavItem?.ConfigReports && expanded && sideNavItem?.text==='BÁO CÁO'">
    <div *ngFor="let s of bophanMenu">
        <sb-sidebar-subnav [menuItems]="s" (onMenuClick)="onSubMenuClick($event)" [hidden]="!checkchucnang"  ></sb-sidebar-subnav>
    </div>  
</nav> -->
<nav class="sb-sidenav-menu-nested nav"
    *ngIf="sideNavItem?.ConfigReports && expanded && sideNavItem?.text==='BÁO CÁO'">
    <div *ngFor="let submenuItem of bophanMenu">
        <div *ngFor="let submenuItem1 of submenuItem">
            <sb-side-nav-item *ngIf="submenuItem1.trangthai =='1'" [sideNavItem]="submenuItem1">
            </sb-side-nav-item>
        </div>
       
    </div>
</nav>

<nav class="sb-sidenav-menu-nested nav" 
    *ngIf="sideNavItem?.ConfigReports &amp;&amp; expanded && sideNavItem?.text!=='BÁO CÁO' && sideNavItem?.text!=='NHẬP DỮ LIỆU'">
    <sb-side-nav-item  class="" *ngFor="let submenuItem of sideNavItem?.ConfigReports" [sideNavItem]="submenuItem">
    </sb-side-nav-item>
</nav>
<nav class="sb-sidenav-menu-nested nav" 
    *ngIf="sideNavItem?.ConfigReports &amp;&amp; expanded && sideNavItem?.text=='NGƯỜI DÙNG'">
    <sb-top-nav-user></sb-top-nav-user>
</nav>
