<sb-layout-dashboard [static]="false">
    <!-- <div #vizContainer style="display: flex; justify-content: center; width: 100%; height: 650px;"></div> -->
    <!-- <ngx-tableau *ngIf="reinitialize" [tableauVizUrl]="vizUrl" ></ngx-tableau> -->
    <ngx-tableau *ngIf="reinitialize" [tableauVizUrl]="vizUrl" ></ngx-tableau>
</sb-layout-dashboard>