<sb-layout-dashboard [static]="false">
    <div class="card">
        <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
            <div class="p-col-8">
                <h4 style="color: #6190b6;">Quản lý template nhập liệu</h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..." />
                <button [hidden]="!checkchucnangThem" pButton pRipple label="Thêm mới" style="height: 37px"
                    icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            </div>
        </p-toolbar>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkXem" #dt [value]="NLDLs" [rows]="10" [paginator]="true"
            [globalFilterFields]="['code','name','filetemplate']" [rowHover]="true" styleClass="p-datatable-gridlines"
            dataKey="id" currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code" style="text-align-last: center;">Mã loại dữ liệu <p-sortIcon
                            field="code"></p-sortIcon>
                    </th>
                    <th pSortableColumn="name" style="text-align-last: center;">Nhóm loại dữ liệu <p-sortIcon
                            field="name"></p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Đường dẫn file <p-sortIcon></p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nldl>
                <tr>
                    <td style="text-align-last: center;">{{nldl.code}}</td>
                    <td style="text-align-last: center;">{{nldl.name}}</td>
                    <td style="text-align-last: center;">{{nldl.filetemplate}}</td>
                    <td style="text-align: center;">
                        <button [hidden]="!checkchucnangSua" pButton pRipple icon="pi pi-eye"
                            class="p-button-rounded p-button-success p-mr-2" (click)="edit(nldl)"></button>
                        <button [hidden]="!checkchucnangXoa" style="left: 10px;" (click)="delete(nldl)" pButton
                            pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng thể có {{NLDLs ? NLDLs.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="editDialog" [style]="{width: '830px'}" [modal]="true" styleClass="p-fluid;">
        <p-header style="color: #6190b6;">
            Template import
        </p-header>
        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-md-6">
                    <label>Nhóm báo cáo <span style="color: red;">*</span></label>
                    <!-- <p-dropdown [options]="BoPhans" optionValue="BoPhans.id" [(ngModel)]="nldl.bophan_id"
                    placeholder="Chọn nhóm báo cáo" optionLabel="text" [showClear]="true"></p-dropdown>&nbsp; -->
                    <select style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;" class="form-control py-2"
                        [(ngModel)]="nldl.bophan_id">
                        <option [value]="bp.id" *ngFor="let bp of BoPhans">{{bp.text}}</option>
                    </select><br>
                    <small class="p-error" *ngIf="submitted && !nldl.bophan_id">Chưa chọn nhóm báo cáo.</small>
                </div>
                <div class="col-md-6">
                    <label>Code <span style="color: red;">*</span></label>
                    <!-- <input [(ngModel)]="nldl.code" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus /> -->
                    <input class="form-control py-2" style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;"
                        type="boolean" pInputText id="Name" [(ngModel)]="nldl.code" required autofocus /><br>
                        <small class="p-error" *ngIf="submitted && !nldl.code">Chưa nhập CODE.</small>
                </div>
                <div class="col-md-6" style="    margin-top: 10px;">
                    <label>Tên <span style="color: red;">*</span></label>
                    <input class="form-control py-2" style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;"
                        pInputText required [(ngModel)]="nldl.name" autofocus /><br>
                        <small class="p-error" *ngIf="submitted && !nldl.name">Chưa nhập tên nldl.</small>
                </div>
                <div class="col-md-6" style="    margin-top: 10px;">
                    <label>Chọn loại kỳ <span style="color: red;">*</span></label>
                    <select style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;" class="form-control py-2"
                        [(ngModel)]="nldl.loaiky" [disabled]="nldl.id">
                        <option [value]=1>Theo tháng</option>
                        <option [value]=2>Theo quý</option>
                        <option [value]=3>Theo năm</option>
                    </select><br>
                    <small class="p-error" *ngIf="submitted && !nldl.loaiky">Chưa chọn loại kỳ.</small>
                </div>
                <div class="col-md-6" style="margin-top: 20px;">
                    <label>Chọn file mẫu</label>
                    <input class="form-control" type="file" #fileInput /><br>
                </div>
                <!-- <div class="p-field">
                <label for="name">Chọn file mẫu để upload</label>
                <input class="fileinput-filename" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 61px; " pInputText id="Id" required
                    autofocus />
                <label for="name" style="margin-left: 30px;">Loại kỳ</label>
                <p-dropdown [options]="NLDL" optionValue="id" [(ngModel)]="selectedCity1"
                    placeholder="Chọn loại dữ liệu upload" optionLabel="name" [showClear]="true"></p-dropdown>&nbsp; 

            </div> -->
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
</sb-layout-dashboard>