.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
  color: #ffffff;
  background: #6190b6;
  border: 1px solid #6190b6;
  }
  .p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 1.1rem;
  }
  .p-button.p-button-icon-only {
  width: 1.5rem;
  padding: 0.5rem 0;
  }