<sb-layout-dashboard [static]="false">
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
    <div class="card">
        <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
            <div class="p-col-8">
                <h4 style="color: #6190b6;">Quản lý đại lý </h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;              
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm ..." />
              
                <div style="float: right;" >
                    <div>
                        <button  pButton pRipple
                        label="Thêm mới" style="height: 37px" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="openNew()"></button>
                    </div>     
                </div>
            </div>
        </p-toolbar>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table
        [hidden]="!checkXem"
        #dt
        [value]="DaiLy"
        [rows]="10"
        [paginator]="true"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="['ten', 'trangthai']"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
        [showCurrentPageReport]="true" >
        <ng-template pTemplate="header">
            <tr>
              
                <th pSortableColumn="ten" style="text-align-last: center">
                  Tên đại lý<p-sortIcon field="ten"> </p-sortIcon>
                </th>
                <th pSortableColumn="SoNguoi" style="text-align-last: center">
                  Thuộc tỉnh thành<p-sortIcon field="tinhThanh"></p-sortIcon>
                </th>
                <th pSortableColumn="trangthai" style="text-align-last: center">
                    Trạng thái<p-sortIcon field="trangthai"> </p-sortIcon>
                </th>                
                <th style="text-align-last: center">Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-daiLy >
            <tr>
                <!-- <td style="text-align-last: center">{{ nhomNSD.id }}</td> -->
                <td style="text-align-last: center">{{ daiLy.ten}}</td>
                <td style="text-align-last: center">{{ daiLy.tinhthanh_id === null? "":daiLy.TinhThanh.ten}}</td>
                 <td style="text-align-last: center;"><span>{{daiLy.trangthai ===1 ?"Active":"InActive"}}</span>
                    </td>
                <td style="text-align: center">
                    <!-- <button (click)="edit(role)" pButton pRipple icon="pi pi-eye"
                        class="p-button-rounded p-button-success p-mr-2"></button>
                    <button style="left: 10px;" (click)="delete(role)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-mr-2"></button>
                   -->
                    <div>
                        <div>
                            <!-- [disabled]="role_name === ''||role_name !== 'Manage user'||role_name === 'Manage master data'" -->
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                class="p-button-rounded p-button-success p-mr-2"
                                (click)="edit(daiLy)"
                            ></button>
                            <button
                                style="left: 10px"
                                (click)="delete(daiLy)"
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-mr-2"
                            ></button>
                        </div>
                    </div>
                </td>
  
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng cộng có {{ DaiLy ? DaiLy.length : 0 }} bản ghi.
            </div>
        </ng-template>
    </p-table>
    </div>  
    <!-- --------------------dialog -->
    <p-dialog [(visible)]="EditDialog" [style]="{width: '550px' }" id="jjjj" header="Chi tiết" [modal]="true"
        styleClass="p-fluid" >
        <ng-template pTemplate="content">
              <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-5">
                              <label for="name">Tên đại lý</label>
                          </div>          
                       <div class="col-md-7" >
                           <input style="width: 100%;"type="text" pInputText id="ten" [(ngModel)]="daiLy.ten" 
                               autofocus />
                           <small class="p-error" *ngIf="submitted && !daiLy.ten">Name is required.</small>
                       </div>
                       
              </div>
              <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-5">
                              <label for="name">Tỉnh thành</label>
                          </div>          
                       <div class="col-md-7">

                        <p-autoComplete [(ngModel)]="daiLy.tinhthanh_id" [suggestions]="filteredDaiLy"
                         (completeMethod)="filterDaiLy($event)" field="ten" [dropdown]="true" value="tinhThanh.id">
                            <ng-template let-tinhThanh pTemplate="item">
                                <div class="tinhThanh-item">
                                    <div>{{tinhThanh.ten}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                       </div>
                        </div>    
              <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-5">
                              <label for="name">Trạng thái</label>
                          </div>          
                       <!-- <div class="col-md-7">
                          <select 
                              style="
                              margin-left: 0px;
                              width: 100%;
                              height: 29px;" 
                              id="trangthai" 
                              [(ngModel)]="daiLy.trangthai">
                          <option [value]="1">
                                  Active
                          </option>
                          <option [value]="0">
                                  InActive
                          </option>
                          </select>
                       </div> -->
              </div>
        </ng-template>  
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>  
        </ng-template>
    </p-dialog>
    <!-- -------------------------------------dialog -->
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </sb-layout-dashboard>