<nav class="sb-sidenav-menu-nested nav" *ngIf="menuItems.length">
    <div *ngFor="let menuItem of menuItems">
        <a class="nav-link" [ngClass]="{active: isActive, collapsed: !expanded}" [routerLink]='menuItem?.link' (click)="onMenuClick.emit(menuItem); expanded = !expanded">{{menuItem.text}}<div
                class="sb-sidenav-collapse-arrow">
                <fa-icon class="ml-auto" *ngIf="menuItem?.ConfigReports" [icon]="['fas', 'angle-down']"></fa-icon>
            </div></a>

        <sb-sidebar-subnav [hidden]="!expanded" *ngIf="menuItem.ConfigReports?.length"
            [menuItems]="menuItem.ConfigReports" (onMenuClick)="onMenuClick.emit($event)"></sb-sidebar-subnav>
    </div>
</nav>