<sb-layout-dashboard [static]="false">
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
    <div class="card">
        <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
            <div class="p-col-8">
                <h4 style="color: #6190b6;">Danh sách người dùng </h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                            margin-right: 10px;              
                            height: 35px " pInputText type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..." />

                <div style="float: right;">
                    <div>
                        <button [hidden]="!checkchucnangThemvaphanquyen" pButton pRipple label="Thêm mới"
                            style="height: 37px" icon="pi pi-plus" class="p-button-success p-mr-2"
                            (click)="openNew()"></button>
                    </div>
                </div>
            </div>
        </p-toolbar>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkXem" #dt [value]="User" [value]="BoPhan" [rows]="10" [paginator]="true"
            styleClass="p-datatable-gridlines" [globalFilterFields]="['email','ten','sdt','trangthai','tendangnhap','bophan']"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="tendangnhap" style="text-align-last: center;">UserName <p-sortIcon
                            field="tendangnhap">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="ten" style="text-align-last: center;">Họ và tên <p-sortIcon field="ten">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="email" style="text-align-last: center;">Email <p-sortIcon field="email">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="bophan" style="text-align-last: center;">Bộ phận <p-sortIcon field="bophan">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="trangthai" style="text-align-last: center;">Trạng thái <p-sortIcon
                            field="trangthai">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user searchFilter:searchValue>
                <tr>
                    <td style="text-align-last: center;">{{user.tendangnhap}}</td>
                    <td style="text-align-last: center;">{{user.ten}}</td>
                    <td style="text-align-last: center;">{{user.email}}</td>
                    <!-- <td style="text-align-last: center;">{{user.sdt}}</td> -->
                    <td style="text-align-last: center;">{{user.bophan==NULL?"":user.bophan}}</td>
                    <td style="text-align-last: center;"><span
                            [class]="'user-badge trangthai-' + user.trangthai">{{user.trangthai?"Active":"InActive"}}</span>
                    </td>
                    <td style="text-align: center;">
                        <div>
                            <!-- <div *ngFor="let role_name of roleName"> -->
                            <!-- <div *ngIf="role_name === 'Manage user'||role_name === 'Manage all'"> -->
                            <button [hidden]="!checkchucnangSua" pButton pRipple icon="pi pi-eye"
                                title="Sửa người dùng" class="p-button-rounded p-button-success p-mr-2"
                                (click)="edit(user);">
                            </button>
                            <button [hidden]="!checkchucnangphanquyentheobc" style="left: 10px;" pButton pRipple
                                icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                title="Phân quyền người sử dụng theo nhóm Filter báo cáo BI"
                                (click)="edit2(user);getAllBoPhan()">
                            </button>&nbsp;
                            <button [hidden]="!checkchucnangXoa" style="left: 10px;" pButton pRipple
                                icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                title="Xóa người sử dụng" (click)="delete(user)">
                            </button>
                            <!-- </div> -->

                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{User ? User.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="EditDialog" [style]="{width: '1000px'}" [modal]="true" styleClass="p-fluid" [closable]="false">
        <p-header style="color: #6190b6;">
            Chi tiết người dùng
        </p-header>
        <ng-template pTemplate="content">
            <div class="row" style="margin-bottom: 25px;">

                <!-- <div class="row"> -->
                <div class="col-md-6">
                    <label>Trạng thái</label>

                    <select class="form-control py-2" style="     border-bottom-width: 1px;
                                    float: right;
                                    width: 100%;" [(ngModel)]="user.trangthai">
                        <option [value]=1>
                            Active
                        </option>
                        <option [value]=0>
                            InActive
                        </option>
                    </select>
                </div>
                <!-- <div class="col-md-2">
                                   
                                </div> -->
                <div class="col-md-6">
                    <label for="name">Họ tên <span style="color: red;">*</span> &nbsp;</label>
                    <input class="form-control py-1" style="     border-bottom-width: 1px;
                                float: right;
                                width: 100%;" type="boolean" pInputText id="ten" [(ngModel)]="user.ten" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !user.ten">Chưa nhập họ tên người dùng.</small>
                </div>
                <div class="col-md-6" style="margin-top: 15px;">
                    <label for="name">UserName <span style="color: red;">*</span> &nbsp;</label>

                    <!-- <input style="width: 100%;" type="text" pInputText id="tendangnhap" [(ngModel)]="user.tendangnhap"
                                        required autofocus />
                                    <small class="p-error" *ngIf="submitted && !user.UserName">Name is required.</small> -->
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                                    float: right;
                                    width: 100%;" type="boolean" pInputText id="Name" [(ngModel)]="user.tendangnhap"
                        required autofocus />
                    <small class="p-error" *ngIf="submitted && !user.tendangnhap">Chưa nhập UserName.</small>
                </div>

                <div class="col-md-6" style="margin-top: 15px;">
                    <label for="name">Email</label>
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                                        float: right;
                                        width: 100%;" type="boolean" pInputText id="Name" [(ngModel)]="user.email"
                        required autofocus />
                </div>
                <!-- </div> -->
                <!-- <div class="row" style="margin-bottom: 25px;"> -->

                <div class="col-md-6" style="margin-top: 15px;">
                    <label for="name">Bộ phận</label>

                    <!-- <input style="width: 100%;" type="text" pInputText id="sdt" [(ngModel)]="user.sdt" required
                                        autofocus />
                                    <small class="p-error" *ngIf="submitted && !user.Mobile">Name is required.</small> -->
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                                    float: right;
                                    width: 100%;" type="boolean" pInputText id="Name" [(ngModel)]="user.bophan"
                        required autofocus />
                </div>
                <div class="col-md-6" style="margin-top: 15px;">
                    <label for="name">Mật khẩu <span style="color: red;">*</span>&nbsp;</label>
                    <!-- <input style="width: 100%;" type="text" pInputText id="matkhau" [(ngModel)]="user.matkhau" required
                                            autofocus />
                                        <small class="p-error" *ngIf="submitted && !user.PassWord">Name is required.</small>
                         -->
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                         float: right;
                         width: 100%;" type="boolean" pInputText id="Name" [(ngModel)]="user.matkhau" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !user.matkhau">Chưa nhập mật khẩu.</small>
                </div>
                <!-- </div> -->
            </div>

            <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-4">
                    <div class="row">
                        <h6>Phân quyền menu</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row" *ngFor="let nhomNSD of NhomNSD">
                                <input style="margin-top: 8px;margin-right:10px;"
                                 type="checkbox" [value]="nhomNSD.id" [checked]="selectedNNSDs.indexOf(nhomNSD.id) !== -1"
                                 (change)="getNhomNSDId($event)" /> {{nhomNSD.ten}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <h6>Nhóm view báo cáo</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <input style="margin-top: 8px;margin-right:10px;" type="checkbox"/> Nhóm người Sale
                            </div>
                            <div class="row">
                                <input style="margin-top: 8px;margin-right:10px;" type="checkbox"/> Nhóm người chăm sóc khách hàng
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <h6>Nhóm nghiệp vụ (Bộ phận)</h6>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row" *ngFor="let boPhan of BoPhan">
                                <input style="margin-top: 8px;
                                    margin-right: 10px;" type="checkbox" [value]="boPhan.id" [checked]="selectedBoPhans.indexOf(boPhan.id) !== -1"
                                    (change)="getBoPhanId($event)" />{{boPhan.text}}
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- ---------------------------- -->
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>

    <!-- dialog 2 -->
    <p-dialog [(visible)]="EditDialog2" [style]="{width: '1100px'}"
        header="Phân quyền người sử dụng theo nhóm Filter báo cáo BI" [modal]="true" styleClass="p-fluid">

        <ng-template pTemplate="content">
            <div class="row">
                <div class="col-md-4" style="    padding-left: 15px;
           padding-right: 15px;">

                    <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                        <label>
                            <h6>Khu vực</h6>
                        </label>
                    </div>
                    <div class="container border">

                        <div class="row" *ngFor="let kv of KhuVucs">
                            <input style="    margin-top: 8px;
                   margin-right: 10px;" type="checkbox" [value]="kv.Id" />{{kv.ten}}
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="    padding-left: 15px;
           padding-right: 15px;">

                    <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                        <label>
                            <h6>Tỉnh thành</h6>
                        </label>
                    </div>
                    <div class="container border">

                        <div class="row" *ngFor="let tinhthanh of TinhThanhs">
                            <input style="    margin-top: 8px;
                   margin-right: 10px;" type="checkbox" [value]="tinhthanh.id" />{{tinhthanh.ten}}
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="    padding-left: 15px;
           padding-right: 15px;">

                    <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                        <label>
                            <h6>Đại lý</h6>
                        </label>
                    </div>
                    <div class="container border" id="a">

                        <div class="row" *ngFor="let dl of DaiLys">
                            <input style="    margin-top: 8px;
                   margin-right: 10px;" type="checkbox" [value]="dl.id" />{{dl.ten}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top:30px">
                <div class="col-md-4" style="    padding-left: 15px;
               padding-right: 15px;">
                    <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                        <label>
                            <h6>Model</h6>
                        </label>
                    </div>
                    <div class="container border">

                        <div class="row" *ngFor="let sp of SanPhams">
                            <input style="    margin-top: 8px;
                       margin-right: 10px;" type="checkbox" [value]="sp.id" />{{sp.id}}
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="    padding-left: 15px;
               padding-right: 15px;">

                    <div class="row" style="background-color: #82a8cc; margin-left: 0px; margin-right: 0px;">
                        <label>
                            <h6>Màu sắc</h6>
                        </label>
                    </div>
                    <div class="container border">

                        <div class="row" *ngFor="let mausac of MauSacs">
                            <input style="    margin-top: 8px;
                       margin-right: 10px;" type="checkbox" [value]="mausac.id" />{{mausac.ten}}
                        </div>
                    </div>

                </div>

            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog2()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>

        </ng-template>

    </p-dialog>
    <!-- dialog 2 -->

    <p-confirmDialog [style]="{width: '750px'}"></p-confirmDialog>
</sb-layout-dashboard>