<template>
    <v-card width="100%" style="padding: 20px">
        <v-layout row wrap>
            <v-layout row wrap>
                <v-flex xs12>
                    <h3>Kho phòng bộ môn</h3>
                </v-flex>
                <v-flex xs12>
                    <v-layout norwap>
                        <v-flex xs6 md4>
                            <v-text-field label="Tìm kiếm"
                                          append-icon="search"
                                          placeholder="Tìm kiếm theo tên kho phòng..."
                                          ma-0 pa-0 hide-details
                                          style="padding-top: 12px"
                                          v-model="searchParamsKhoPhong.keywords"
                                          @input="getDataFromApi(searchParamsKhoPhong)">

                            </v-text-field>
                        </v-flex>
                        <v-spacer></v-spacer>
                        <v-btn small @click="showModalThemSua(false,{})" style="margin-top: auto" color="primary">+ Thêm mới</v-btn>
                    </v-layout>
                </v-flex>
                <v-flex xs12>
                    <v-data-table :headers="tableHeader"
                                  :items="dsKhoPhong"
                                  @update:pagination="getDataFromApi" :pagination.sync="searchParamsKhoPhong"
                                  :total-items="searchParamsKhoPhong.totalItems"
                                  :loading="loadingTable"
                                  class="table-border table">
                        <template slot="items" slot-scope="props">
                            <td>{{ props.index + 1 }}</td>
                            <td>{{ props.item.TenKhoPhong }}</td>
                            <td class="text-xs-center">
                                <v-icon v-if="props.item.PhanLoai == 2" color="green">done</v-icon>
                            </td>
                            <td>{{ props.item.DienTich }}</td>
                            <td>{{ props.item.DiaChi }}</td>
                            <td>{{ props.item.NamDuaVaoSuDung }}</td>
                            <td>
                                <v-chip v-for="(i, index) in props.item.MonSuDung" :key="index" color="primary" outline>
                                    {{i}}
                                </v-chip>
                            </td>
                            <td class="text-xs-center">
                                <v-icon v-if="props.item.LaPhongChucNang" color="green">done</v-icon>
                            </td>
                            <td>
                                <span v-for="(i, index) in props.item.TenGiaoVien" :key="index" color="primary" outline>
                                    {{i}} <br />
                                </span>
                            </td>
                            <td class="text-xs-center" style="width:80px;">
                                <v-btn flat icon small @click="showModalThemSua(true, props.item)" class="ma-0">
                                    <v-icon small>edit</v-icon>
                                </v-btn>
                                <v-btn flat color="red" icon small class="ma-0" @click="confirmDelete(props.item)">
                                    <v-icon small>delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-flex>
            </v-layout>
            <v-dialog v-model="dialogConfirmDelete" max-width="290">
                <v-card>
                    <v-card-title class="headline">Xác nhận xóa</v-card-title>
                    <v-card-text class="pt-3">Bạn có chắc chắn muốn xóa?</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn @click.native="dialogConfirmDelete=false" flat>Hủy</v-btn>
                        <v-btn color="red darken-1" @click.native="deleteKhoPhong" flat>Xác Nhận</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <them-sua-kho-phong ref="themSuaKhoPhong" @getLaiDanhSach="getDataFromApi(searchParamsKhoPhong)"></them-sua-kho-phong>
        </v-layout>
    </v-card>
</template>
<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import KhoPhongApi, { KhoPhongApiSearchParams } from '@/apiResources/KhoPhongApi';
    import { KhoPhong } from '@/models/KhoPhong';
    import ThemSuaKhoPhong from './ThemSuaKhoPhong.vue';
    export default Vue.extend({
        components: {
            ThemSuaKhoPhong
        },
        data() {
            return {
                dsKhoPhong: [] as KhoPhong[],
                tableHeader: [
                    { text: 'STT', align: 'center', sortable: false },
                    { text: 'Tên kho/phòng', align: 'center', sortable: false },
                    { text: 'Là phòng bộ môn', align: 'center', sortable: false },
                    { text: 'Diện tích', align: 'center', sortable: false },
                    { text: 'Địa chỉ', align: 'center', sortable: false },
                    { text: 'Năm đưa vào sử dụng', align: 'center', sortable: false },
                    { text: 'Môn học', align: 'center', sortable: false },
                    { text: 'Phòng chức năng', align: 'center', sortable: false },
                    { text: 'Cán bộ quản lý', align: 'center', sortable: false },
                    { text: 'Thao tác', align: 'center', sortable: false },
                ],
                searchParamsKhoPhong: { includeEntities: true, rowsPerPage: 10 } as KhoPhongApiSearchParams,
                loadingTable: false,
                selectedKhoPhong: {} as KhoPhong,
                dialogConfirmDelete: false,
            }
        },
        watch: {
        },
        created() {
            this.getDataFromApi(this.searchParamsKhoPhong);
        },
        methods: {
            getDataFromApi(searchParamsKhoPhong: KhoPhongApiSearchParams): void {
                this.loadingTable = true;
                KhoPhongApi.search(searchParamsKhoPhong).then(res => {
                    this.dsKhoPhong = res.Data;
                    this.searchParamsKhoPhong.totalItems = res.Pagination.totalItems;
                    this.loadingTable = false;
                });
            },
            showModalThemSua(isUpdate: boolean, item: any) { // refs gọi từ cha -=> con 
               (this.$refs.themSuaKhoPhong as any).show(isUpdate, item); // gọi đến hàm show bên modal con
            },
            confirmDelete(khoPhong: KhoPhong): void {
                this.selectedKhoPhong = khoPhong;
                this.dialogConfirmDelete = true;
            },
            deleteKhoPhong(): void {
                KhoPhongApi.delete(this.selectedKhoPhong.KhoPhongID).then(res => {
                    this.$snotify.success('Xóa thành công!');
                    this.getDataFromApi(this.searchParamsKhoPhong);
                    this.dialogConfirmDelete = false;
                }).catch(res => {
                    this.$snotify.error('Xóa thất bại!');
                });
            },
        }
    });
</script>

