sb-layout-error
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 500
                    p.lead Internal Server Error
                    a(routerLink='/auth/bophan')
                        fa-icon.mr-1([icon]='["fas", "arrow-left"]')
                        | Quay về
