<sb-layout-dashboard [static]="false">
    <div class="card">
            <p-toolbar [hidden]="!checkchucnang" styleClass="p-mb-0">
            
                    <div class="p-col-8">
                        <h4 style="color: #6190b6;">Quản lý tỉnh thành</h4>
                    </div>
                    <div class="p-col-4">
                        <input style=" width: 300px; 
                          margin-right: 10px;
                      
                          height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Nhập dữ liệu cần tìm..." />
        
                        <div >
                            <div >
                               
                                <button pButton pRipple label="Thêm mới" style="height: 37px" icon="pi pi-plus"
                                    class="p-button-success p-mr-2" (click)="openNew()"></button>
                            </div>
                        </div>
                    </div>
        
                </p-toolbar>
                <p-messages *ngIf="!checkchucnang" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkchucnang" #dt [value]="TinhThanhs" [rows]="10" [paginator]="true" [globalFilterFields]="['code','ten','trangthai']" styleClass="p-datatable-gridlines"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">
         
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code" style="text-align-last: center;">Mã tỉnh thành <p-sortIcon field="code">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="ten" style="text-align-last: center;">Tên tỉnh thành <p-sortIcon field="ten">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="trangthai" style="text-align-last: center;">trạng thái <p-sortIcon field="trangthai">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tinhthanh searchFilter:searchValue>
                <tr>

                    <td style="text-align-last: center;">{{tinhthanh.code}}</td>
                    <td style="text-align-last: center;">{{tinhthanh.ten}}</td>
                    <td style="text-align-last: center;"><span [class]="'tinhthanh-badge trangthai-' + tinhthanh.trangthai">{{tinhthanh.trangthai? "Active":"InActive"}}</span></td>

                    <td style="text-align: center;">
                        <button [hidden]="!checkchucnang" pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            (click)="edit(tinhthanh)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có  {{TinhThanhs ? TinhThanhs.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="EditDialog" [style]="{width: '420px'}"  [modal]="true"
        styleClass="p-fluid">
        <p-header style="color: #6190b6;">
                Chi tiết tỉnh thành
            </p-header>
        <ng-template pTemplate="content">

            <div class="p-field" style="margin-bottom: 15px;">
                <label for="Id">Mã tỉnh thành</label>

                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                    float: right;
                    width: 312px;" type="text" pInputText
                        id="Name" [(ngModel)]="tinhthanh.code" required autofocus disabled />
            </div>
            <div class="p-field" style="margin-bottom: 15px;">
                <label for="Name">Tên tỉnh thành</label>
               
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                    float: right;
                    width: 312px;" type="text" pInputText
                        id="Name" [(ngModel)]="tinhthanh.ten" required autofocus disabled />   
            </div>

            <!-- <div class="p-field">
                <label for="Status">Trạng thái</label>
                <select  class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" [(ngModel)]="tinhthanh.trangthai" required autofocus disabled>
                    <option [value]="1">
                        Active
                    </option>
                    <option [value]="0">
                        InActive
                    </option>
                </select>    
            </div> -->
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
        </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</sb-layout-dashboard>

