<sb-layout-dashboard [static]="false">
    <div class="card">
        <div class="card">
            <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
                <div class="col-md-6">
                    <h4 style="color: #6190b6;">Danh sách báo cáo và kỳ tương ứng</h4>

                </div>
                <div class="p-col-4">
                    <input style=" width: 300px; 
                        margin-right: 10px;
                    
                        height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Nhập dữ liệu cần tìm..." />
                </div>
                <!-- <div class="col-md-4">
                    <input [(ngModel)]="year" style=" width: 230px;
                                height: 35px " pInputText type="text" placeholder="Nhập năm để tạo kỳ báo cáo">
                    <button [disabled]="year=='0' ||year=='' || !checkchucnangThem" pButton pRipple
                        label="Tạo kỳ báo cáo" style="height: 37px; margin-left: 5px;" icon="pi pi-plus"
                        class="p-button-success p-mr-2" (click)="add()"></button>
                    <button [disabled]="!checkchucnangdongmoky" pButton pRipple label="Đóng/Mở kỳ"
                        style="height: 37px; margin-left: 5px;" class="p-button-success p-mr-2"
                        (click)="openNew1()"></button>
                </div> -->
            </p-toolbar>

        </div>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkXem" #dt [value]="NLDL_KyBCs" [rows]="17" [paginator]="true"
            [globalFilterFields]="['name','loaiky','nam', 'ten', 'trangthai']" styleClass="p-datatable-gridlines"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">

            <!-- <ng-template pTemplate="caption">
                <div class="p-fluid p-grid">
                    <div class="p-col-4">
                        <h3 class="p-m-0">Danh sách kỳ báo cáo</h3>
                    </div>
                    <div class="p-field p-col-4 ">
                        <input style=" width: 402px;
                                    height: 35px " pInputText type="text"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="searchValue"
                            placeholder="Nhập dữ liệu cần tìm..." />
                     
                        <input [(ngModel)]="year" style=" width: 402px;
                        height: 35px " pInputText type="text" placeholder="Nhập năm để tạo kỳ báo cáo">
                        <button [disabled]="year===''" pButton pRipple label="Tạo kỳ báo cáo" style="height: 37px"
                            icon="pi pi-plus" class="p-button-success p-mr-2" (click)="add()"></button>
                        <button pButton pRipple label="Đóng/Mở kỳ" style="height: 37px" icon="pi pi-plus"
                            class="p-button-success p-mr-2" (click)="openNew1()"></button>
                    </div>
                </div>
            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="text-align-last: center;">Tên báo cáo <p-sortIcon
                            field="name">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="loaiky" style="text-align-last: center;">Loại kỳ <p-sortIcon field="loaiky">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="nam" style="text-align-last: center;">Năm <p-sortIcon field="nam">
                    </p-sortIcon>
                </th>
                    <th pSortableColumn="ten" style="text-align-last: center;">Kỳ <p-sortIcon field="ten">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="trangthai" style="text-align-last: center;">Trạng thái <p-sortIcon field="trangthai">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-period searchFilter:searchValue>
                <tr>
                    <td style="text-align-last: center;">{{period.name}}</td>
                    <td style="text-align-last: center;">{{period.loaiky==1?"Theo tháng":period.loaiky==2?"Theo quý":"Theo năm"}}</td>
                    <td style="text-align-last: center;">{{period.nam}}</td>
                    <td style="text-align-last: center;">{{period.ten}}</td>
                    <td style="text-align-last: center;"><span
                            [class]="'period-badge trangthai-' + period.trangthai">{{period.trangthai?
                            "Mở":"Đóng"}}</span></td>
                    <td style="text-align: center;">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            (click)="edit(period)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{NLDL_KyBCs ? NLDL_KyBCs.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>
    
    <p-dialog [(visible)]="editDialog" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <p-header style="color: #6190b6;">
            Đóng/mở kỳ báo cáo
        </p-header>
        <ng-template pTemplate="content">
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Tên báo cáo</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="nldl_kybc.name" required autofocus
                    disabled />
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Loại kỳ</label>
                <select class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" [(ngModel)]="nldl_kybc.loaiky" required autofocus disabled>
                    <option [value]=1>
                        Theo tháng
                    </option>
                    <option [value]=2>
                        Theo quý
                    </option>
                    <option [value]=3>
                        Theo năm
                    </option>
                </select>
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Năm</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="nldl_kybc.nam" required autofocus
                    disabled />
            </div>
            <div class="col-md-12" style="margin-bottom: 15px;">
                <label>Kỳ</label>
                <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="nldl_kybc.ten" required autofocus
                    disabled />
            </div>
            <div class="col-md-12">
                <label>Trạng thái</label>
                <select class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" [(ngModel)]="nldl_kybc.trangthai" required autofocus>
                    <option [value]=1>
                        Mở
                    </option>
                    <option [value]=0>
                        Đóng
                    </option>
                </select>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
    </p-dialog>
    <p-messages></p-messages>
    <!-- dialog đóng mở kỳ -->
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
</sb-layout-dashboard>