@import 'styles/variables.scss';

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  background-color: #9abbdd !important;
}
.wrapper {
  text-align: center;
}

.p-button {
  position: absolute;
  top: 50%;
}