<sb-layout-auth>
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
    <div *ngIf="isLoginError" class="red-text center error-message">
    </div>


    <div class="container">
        <div class="row justify-content-center">
            <img style="width: 550px;" src="https://thachban.com.vn/wp-content/uploads/2020/02/logohomei.png">
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">ĐĂNG NHẬP</h3>
                    </div>
                    <div class="card-body">
                        <form class="col s12 white" #Loginform="ngForm" (ngSubmit)="OnSubmit(Loginform)">
                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Tài khoản</label>
                                <input type="text" name="tendangnhap" #tendangnhap="ngModel" 
                                [(ngModel)]="loginform.tendangnhap"
                                    class="form-control py-4" type="email" placeholder="Nhập tài khoản" />
                            </div>
                            <div class="form-group"><label class="small mb-1" for="inputmatkhau">Mật khẩu</label>
                                <input type="password" name="matkhau" #matkhau="ngModel"
                                    [(ngModel)]="loginform.matkhau" class="form-control py-4"
                                    placeholder="Nhập mật khẩu" />
                            </div>
                            <!-- <div class="form-group">
                                <div class="custom-control custom-checkbox"><input class="custom-control-input"
                                        id="remembermatkhauCheck" type="checkbox" /><label class="custom-control-label"
                                        for="remembermatkhauCheck">Remember matkhau</label></div>
                            </div> -->
                            <div class="wrapper">
                                <!-- <a class="small" routerLink="/auth/forgot-matkhau">Forgot matkhau?</a> -->
                                <p-button [disabled]="!Loginform.valid" type="submit">ĐĂNG NHẬP</p-button>
                                <!-- <a class="btn btn-primary" routerLink="/auth/region">Login</a> -->
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <!-- <div class="small"><a routerLink="/auth/register">Need an account? Sign up!</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</sb-layout-auth>