<sb-layout-dashboard [static]="false">
    <div class="card">
        <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">

            <div class="p-col-8">
                <h4 style="color: #6190b6;">Quản lý bộ phận (nhóm nghiệp vụ)</h4>

            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;
                
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..." />

                <button [hidden]="!checkchucnangThem" pButton pRipple label="Thêm mới" style="height: 37px" icon="pi pi-plus"
                    class="p-button-success p-mr-2" (click)="openNew()"></button>
            </div>

        </p-toolbar>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkXem" #dt [value]="BoPhans" [rows]="10" [paginator]="true"
            [globalFilterFields]="['code','text','stt','trangthai']" styleClass="p-datatable-gridlines"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="code" style="text-align-last: center;">Mã bộ phận <p-sortIcon field="code">
                        </p-sortIcon>
                        
                    </th>
                    <th pSortableColumn="text" style="text-align-last: center;">Tên bộ phận <p-sortIcon field="text">
                        </p-sortIcon>
                        
                    </th>
                    <th pSortableColumn="stt" style="text-align-last: center;">Thứ tự sắp xếp <p-sortIcon field="stt">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="trangthai" style="text-align-last: center;">Trạng thái<p-sortIcon field="trangthai">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bp>
                <tr>
                    <td style="text-align-last: center;">{{bp.code}}</td>
                    <td style="text-align-last: center;">{{bp.text}}</td>
                    <td style="text-align-last: center;">{{bp.stt}}</td>
                    <td style="text-align-last: center;"><span
                        [class]="'bp-badge trangthai-' + bp.trangthai">{{bp.trangthai?
                        "Active":"InActive"}}</span></td>
                    <td style="text-align: center;">
                        <button [hidden]="!checkchucnangSua" pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            (click)="edit(bp)"></button>
                        <button [hidden]="!checkchucnangXoa" style="left: 10px;" (click)="delete(bp)" pButton pRipple icon="pi pi-trash"
                            class="p-button-rounded p-button-danger p-mr-2"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng thể có {{BoPhans ? BoPhans.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="editDialog" [style]="{width: '1000px'}"  [modal]="true"
        styleClass="p-fluid;">
        <p-header style="color: #6190b6;">
                Bộ phận (nhóm nghiệp vụ)
            </p-header>
        <ng-template pTemplate="content">
            <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
                <div class="col-md-6">
                <label for="name">CODE <span style="color: red;">*</span></label>
                <!-- <input [(ngModel)]="bophan.code" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus /> -->

                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                    float: right;
                    width: 312px;" type="text" pInputText
                        id="Name" [(ngModel)]="bophan.code" required autofocus /><br>
                        <small class="p-error" *ngIf="submitted && !bophan.code">Chưa nhập CODE.</small>
                    </div>
                    <div class="col-md-6">
                            <label for="Status">Trạng thái</label>
                            <select class="form-control py-2" style="     border-bottom-width: 1px;
                            float: right;
                            width: 312px;"     [(ngModel)]="bophan.trangthai" required autofocus>
                                <option [value]="1">
                                    Active
                                </option>
                                <option [value]="0">
                                    InActive
                                </option>
                            </select>
                            </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-6">
                <label for="name">Tên <span style="color: red;">*</span></label>
                <!-- <input [(ngModel)]="bophan.text" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus /> -->
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                    float: right;
                    width: 312px;" type="text" pInputText
                        id="Name" [(ngModel)]="bophan.text" required autofocus /><br>
                        <small class="p-error" *ngIf="submitted && !bophan.text">Chưa nhập tên bộ phận.</small>
                    </div>
                    <div class="col-md-6">
                <label for="name" >Ghi chú</label>
                <!-- <input style="WIDTH: 248PX; border-bottom-width: 1px;   float: right;" pInputText required
                    [(ngModel)]="bophan.ghichu" autofocus /> -->
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                    float: right;
                    width: 312px;" type="boolean" pInputText
                        id="Name" [(ngModel)]="bophan.ghichu" required autofocus /><br>
                        </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-6">
                <label for="name">Thứ tự sắp xếp</label>
                <!-- <input [(ngModel)]="bophan.stt" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 73px; "
                    pInputText required autofocus /> -->
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                    float: right;
                    width: 312px;" type="number" pInputText
                        id="Name" [(ngModel)]="bophan.stt" required autofocus />
                    </div>
                  
            </div>
            <!-- <div class="p-field">
                <label for="name">Chọn file mẫu để upload</label>
                <input class="fileinput-filename" style="WIDTH: 248PX; border-bottom-width: 1px;margin-left: 61px; " pInputText id="Id" required
                    autofocus />
                <label for="name" style="margin-left: 30px;">Loại kỳ</label>
                <p-dropdown [options]="NLDL" optionValue="id" [(ngModel)]="selectedCity1"
                    placeholder="Chọn loại dữ liệu upload" optionLabel="name" [showClear]="true"></p-dropdown>&nbsp; 

            </div> -->


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>
    <p-messages></p-messages>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <p-toast></p-toast>
    <p-toast  [style]="{marginTop: '40px'}"  position="top-right" key="tr"></p-toast>
</sb-layout-dashboard>