.bp-badge.trangthai-1 {
  background: #36c6d3;
  color: white;
}
.bp-badge.trangthai-0 {
  background: #ed6b75;
  color: white;
}
.bp-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

body {
background-color: powderblue
}
.p-button.p-button-success, .p-buttonset.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button {
color: #ffffff;
background: #6190b6;
border: 1px solid #6190b6;
}
.p-button.p-button-icon-only.p-button-rounded {
border-radius: 50%;
height: 1.1rem;
}
.p-button.p-button-icon-only {
width: 1.5rem;
padding: 0.5rem 0;
}

.p-datatable .p-datatable-tbody > tr > td {
text-align: left;
border: 1px solid #e9ecef;
border-width: 0 0 1px 0;
padding: 0.7rem 1rem !important;
}

.p-dialog .p-dialog-header{
color: red;
}
