<template>
    <v-card width="100%" style="padding: 20px">
        <v-layout row wrap>
            <v-flex xs12>
                <h3>Danh sách ghi tăng</h3>
            </v-flex>
            <v-flex xs12>
                <v-layout norwap>
                    <v-flex xs6 md4>
                        <v-text-field label="Tìm kiếm"
                                      append-icon="search"
                                      placeholder="Tìm kiếm theo mã phiếu..."
                                      ma-0 pa-0 hide-details
                                      style="padding-top: 12px"
                                      v-model="searchParamsPhieuGhiTang.keywords"
                                      @input="getDataFromApi(searchParamsPhieuGhiTang)">

                        </v-text-field>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-btn small @click="showModalThemSua(false,{})" style="margin-top: auto" color="primary">+ Thêm mới</v-btn>
                </v-layout>
            </v-flex>
            <v-flex xs12>
                <v-layout>
                    <v-flex :xs12="isShowColum" :xs2="!isShowColum">
                        <v-data-table :headers="tableHeader"
                                      :items="dsPhieuGhiTang"
                                      @update:pagination="getDataFromApi" :pagination.sync="searchParamsPhieuGhiTang"
                                      :total-items="searchParamsPhieuGhiTang.totalItems" hide-actions
                                      :loading="loadingTable"
                                      class="table-border table">
                            <template slot="items" slot-scope="props">
                                <tr @click="onClickRow(props.item)" style="cursor: pointer">
                                    <td class="text-xs-center" v-if="isShowColum">{{ props.index + 1 }}</td>
                                    <td class="text-xs-center"><a>{{ props.item.MaPhieu }}</a></td>
                                    <td class="text-xs-center">{{ props.item.NgayLapPhieu | moment("DD/MM/YYYY") }}</td>
                                    <td class="text-xs-center" v-if="isShowColum">{{ props.item.NguoiLapPhieu ? props.item.NguoiLapPhieu.TenDayDu : '' }}</td>
                                    <td class="text-xs-center" v-if="isShowColum">{{ props.item.GhiChu }}</td>
                                    <td class="text-xs-center" v-if="isShowColum" style="width:80px;">
                                        <v-btn flat icon small @click="showModalThemSua(true, props.item)" class="ma-0">
                                            <v-icon small>edit</v-icon>
                                        </v-btn>
                                        <v-btn flat color="red" icon small class="ma-0" @click="confirmDelete(props.item)">
                                            <v-icon small>delete</v-icon>
                                        </v-btn>
                                    </td>
                                </tr>
                            </template>
                            <template slot="no-data">
                                <div class="text-xs-center">Không có bản ghi nào</div>
                            </template>
                        </v-data-table>
                    </v-flex>
                    <v-flex :xs10="!isShowColum" v-show="!isShowColum">
                        <v-card style="padding: 12px; border: 1px solid #d7d7d7;">
                            <v-layout row wrap>
                                <v-flex xs12 style="display: flex">
                                    <div>Danh sách thiết bị ghi tăng - Phiếu <b>{{selectedPhieuGhiTang.MaPhieu}}</b></div>
                                    <v-icon @click="isShowColum = !isShowColum" style="margin-left: auto;">close</v-icon>
                                </v-flex>
                                <v-flex xs12>
                                    <v-data-table :headers="tableHeaderDetail"
                                                  :items="dsChiTietPhieuGhiTang" 
                                                  :loading="loadingTable" hide-actions
                                                  class="table-border table">
                                        <template slot="items" slot-scope="props">
                                            <td class="text-xs-center">{{ props.index + 1 }}</td>
                                            <td class="text-xs-center">{{ props.item.MaThietBi }}</td>
                                            <td class="text-xs-center">{{ props.item.TenThietBi }}</td>
                                            <td class="text-xs-center">{{ props.item.SoHieu }}</td>
                                            <td class="text-xs-center">{{ props.item.KhoPhong }}</td>
                                            <td class="text-xs-center">{{ props.item.SoLo }}</td> 
                                            <td class="text-xs-center">{{ props.item.DonViTinh }}</td>
                                            <td class="text-xs-center">{{ props.item.SoLuong }}</td>
                                            <td class="text-xs-center">{{ props.item.DonGia }}</td>
                                            <td class="text-xs-center">{{ props.item.ThanhTien}}</td>
                                        </template>
                                        <template slot="no-data">
                                            <div class="text-xs-center">Không có bản ghi nào</div>
                                        </template>
                                    </v-data-table>
                                </v-flex>
                                <v-flex xs12>
                                    <v-layout nowrap>
                                        <v-spacer></v-spacer>
                                        <v-btn small @click="showModalThemSua(true,selectedPhieuGhiTang)" color="primary">Cập nhật</v-btn>
                                    </v-layout>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-flex>
        </v-layout>

        <v-dialog v-model="dialogConfirmDelete" max-width="290">
            <v-card>
                <v-card-title class="headline">Xác nhận xóa</v-card-title>
                <v-card-text class="pt-3">Bạn có chắc chắn muốn xóa?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click.native="dialogConfirmDelete=false" flat>Hủy</v-btn>
                    <v-btn color="red darken-1" @click.native="deletePhieuGhiTang" flat>Xác Nhận</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <them-sua-ghi-tang ref="themSuaGhiTang" @getLaiDanhSach="getDataFromApi(searchParamsPhieuGhiTang)"></them-sua-ghi-tang>

    </v-card>
</template>
<script lang="ts">
    import { Vue } from 'vue-property-decorator';
    import PhieuGhiTangApi, { PhieuGhiTangApiSearchParams } from '@/apiResources/PhieuGhiTangApi';
    import { PhieuGhiTang } from '@/models/PhieuGhiTang';
    import ThemSuaGhiTang from './ThemSuaGhiTang.vue';
    export default Vue.extend({
        components: {
            ThemSuaGhiTang
        },
        data() {
            return {
                dsPhieuGhiTang: [] as PhieuGhiTang[],
                dsChiTietPhieuGhiTang: [] as any[],
                searchParamsPhieuGhiTang: { includeEntities: true, rowsPerPage: 0 } as PhieuGhiTangApiSearchParams,
                loadingTable: false,
                selectedPhieuGhiTang: {} as PhieuGhiTang,
                dialogConfirmDelete: false,
                isShowColum: true,
                tableHeaderDetail: [
                    { text: 'STT', align: 'center', sortable: false },
                    { text: 'Mã thiết bị', align: 'center', sortable: false },
                    { text: 'Tên thiết bị', align: 'center', sortable: false }, 
                    { text: 'Số hiệu', align: 'center', sortable: false },
                    { text: 'Kho phòng', align: 'center', sortable: false },
                    { text: 'Số lô', align: 'center', sortable: false },
                    { text: 'ĐVT', align: 'center', sortable: false },
                    { text: 'Số lượng', align: 'center', sortable: false },
                    { text: 'Đơn giá', align: 'center', sortable: false },
                    { text: 'Thành tiền', align: 'center', sortable: false }
                ],
            }
        },
        computed: {
            tableHeader() {
                let tableHeader = []
                if (this.isShowColum) {
                    tableHeader.push({ text: 'STT', align: 'center', sortable: false }); 
                }

                tableHeader.push({ text: 'Mã phiếu', align: 'center', sortable: false }); 
                tableHeader.push({ text: 'Ngày lập', align: 'center', sortable: false });

                if (this.isShowColum) {
                    tableHeader.push({ text: 'Người lập', align: 'center', sortable: false });
                    tableHeader.push({ text: 'Ghi chú', align: 'center', sortable: false });
                    tableHeader.push({ text: 'Thao tác', align: 'center', sortable: false });
                }

                return tableHeader;
            }
        },
        created() {
            this.getDataFromApi(this.searchParamsPhieuGhiTang);
        },
        methods: {
            getDataFromApi(searchParamsPhieuGhiTang: PhieuGhiTangApiSearchParams): void {
                this.loadingTable = true;
                PhieuGhiTangApi.search(searchParamsPhieuGhiTang).then(res => {
                    this.dsPhieuGhiTang = res.Data;
                    this.searchParamsPhieuGhiTang.totalItems = res.Pagination.totalItems;
                    this.loadingTable = false;
                });
            },
            showModalThemSua(isUpdate: boolean, item: any) { // refs gọi từ cha -=> con  
                this.isShowColum = true;
                (this.$refs.themSuaGhiTang as any).show(isUpdate, item); // gọi đến hàm show bên modal con
            },
            onClickRow(item: PhieuGhiTang) {
                this.isShowColum = false;
                this.selectedPhieuGhiTang = item;
                this.dsChiTietPhieuGhiTang = item.ChiTietPhieu ? JSON.parse(item.ChiTietPhieu) : [] as any;
            },
            confirmDelete(phieuGhiTang: PhieuGhiTang): void {
                this.selectedPhieuGhiTang = phieuGhiTang;
                this.dialogConfirmDelete = true;
            },
            deletePhieuGhiTang(): void {
                PhieuGhiTangApi.delete(this.selectedPhieuGhiTang.PhieuGhiTangID).then(res => {
                    this.$snotify.success('Xóa thành công!');
                    this.getDataFromApi(this.searchParamsPhieuGhiTang);
                    this.dialogConfirmDelete = false;
                }).catch(res => {
                    this.$snotify.error('Xóa thất bại!');
                });
            },
        }
    });
</script>

