<sb-layout-dashboard [static]="false">
    <p-toast></p-toast>
    <p-toast position="top-right" key="tr"></p-toast>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-3">
            <label>Báo cáo</label>
            <select class="form-control py-2" style="     border-bottom-width: 1px;
                        float: right;
                        width: 100%;" id=""
                (change)="refreshVersion();getLoaiKys(year,nldl_id);checkKy(nldl_id,kybc_id)"
                [(ngModel)]="nldl_id">
                <option>Chọn báo cáo</option>
                <option [ngValue]="nldl.id" *ngFor="let nldl of NLDL">{{nldl.name}}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>Năm</label>
            <select class="form-control py-2" style="     border-bottom-width: 1px;
                        float: right;
                        width: 100%;" [(ngModel)]="year" (change)="refreshVersion();getLoaiKys(year,nldl_id)">
                <option>Chọn năm</option>
                <option *ngFor="let y of Year">{{y}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label>Kỳ</label>
            <select class="form-control py-2" style="     border-bottom-width: 1px;
                        float: right;
                        width: 100%;"
                (change)="getAllVersion(nldl_id,kybc_id);checkKy(nldl_id,kybc_id)"
                [(ngModel)]="kybc_id">
                <option [ngValue]="kybc.id" *ngFor="let kybc of KyBC">{{kybc.ten}}</option>
            </select>

        </div>
        <!-- <p-dropdown [options]="NLDL" optionValue="id" [(ngModel)]="nldl_id"
                    placeholder="Chọn loại dữ liệu upload" optionLabel="name" [showClear]="true" [onChange]="getLoaiKys(year,nldl_id)"></p-dropdown>&nbsp;
                <p-dropdown [options]="Year" optionValue="id" [(ngModel)]="year" placeholder="Chọn năm"
                    optionLabel="" [showClear]="true"></p-dropdown>&nbsp;
                <p-dropdown [options]="KyBC" optionValue="id" [(ngModel)]="selectedCity1" placeholder="Chọn kỳ báo cáo"
                    optionLabel="" [showClear]="true"></p-dropdown> -->

        <!-- <input style=" width: 402px;
                            height: 35px " pInputText type="text"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" [(ngModel)]="searchValue"
                    placeholder="Nhập dữ liệu cần tìm..." /> -->


        <div class="col-md-2" style="margin-top: 31px; padding-left: 0px;">
            <button [disabled]="(!checkky)  ? 'disabled': null" style="height: 38px;"
                class="btn btn-primary" (click)="openNew()">Upload</button>
        </div>
        <!-- <div class="col-md-1" style="margin-top: 5px; padding-left: 0px;">
            <button style="height: 38px;" class="btn btn-primary" (click)="validateExcel()">Validate</button>
        </div> -->
        <!-- <div>
            <button type="button" (click)="downloadFile();">Download</button>
        </div> -->
    </div>
    <!-- <div>
        <h4 class="alert-success">{{message}}</h4>
    </div> -->
    <div *ngIf="versions.length == 0">
        <p-messages [(value)]="msg" [enableService]="false"></p-messages>
    </div>
    <br>
    <div *ngFor="let ver of versions">
        <!-- *ngFor="let bc of F_CSKH05S[ver-1]| slice:0:1; let i=index" *ngIf="i<2" header="Version #{{ver}}&nbsp;&nbsp;Upload bởi: {{bc.CreateUser}}&nbsp;
            Thời điểm upload:{{bc.UpdateDate|date:'short'}}&nbsp;[{{countRecords}} bản ghi] " -->
        <p-panel header="STT #{{ver}}" [toggleable]="true" [collapsed]="true">
            <button [hidden]="maxSTT == ver" (click)="overrideVersion(ver);"><i
                    class="pi pi-cloud-upload"></i></button>&nbsp;
            <button (click)="exportexcel(ver)"><i class="pi pi-cloud-download"></i></button>
            <a *ngFor="let bc of TCKT01[ver-1]; let i=index" class="accordion-toggle" style="color: black;">
                <span _ngcontent-wsb-c54="" style="font-weight: 300; margin-right: 50px;">Version #{{bc.version}}</span>
                <span *ngIf="i<2" _ngcontent-wsb-c54="" style="margin-right: 50px;font-weight: 300;">Upload
                    bởi:{{bc.nguoitao}}</span>
                <span *ngIf="i<2" _ngcontent-wsb-c54="" style="margin-right: 50px;font-weight: 300;">Thời điểm
                    upload:{{bc.ngaytao|date:'short'}}</span>
                <span *ngIf="i<2" _ngcontent-wsb-c54="" style="margin-right: 50px;font-weight: 300;">[{{countRecords}}
                    Bản ghi]</span>
            </a>
            <ng-template pTemplate="icons">
                <p-menu #menu id="config_menu" [popup]="true"></p-menu>
            </ng-template>
            <p-table id="{{ver}}" #dt [value]="TCKT01[ver-1]" [rows]="10" [paginator]="true"
                [globalFilterFields]="['CompanyCode','MAKY','TRONGSO']" styleClass="p-datatable-gridlines"
                [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
                [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="model" style="text-align-last: center;">{{header1}}<p-sortIcon
                                field="model">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="giatamtinh" style="text-align-last: center;">{{header2}}<p-sortIcon
                                field="giatamtinh"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tckt01 searchFilter:searchValue>
                    <tr>
                        <td style="text-align-last: center;">{{tckt01?.model}}</td>
                        <td style="text-align-last: center;">{{tckt01?.giatamtinh}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
    </div>

    <p-dialog [(visible)]="validateDialog" [style]="{width: '900px'}" [modal]="true" styleClass="p-fluid;">
        <p-header style="color: #6190b6;">
            Kiểm tra dữ liệu
        </p-header>
        <ng-template pTemplate="content">
            <div class="row" style="margin-bottom: 30px; margin-top:0px; margin-bottom: 10px;">
                <div class="col-md-6" style="margin-top: 5px; padding-right: 0px;">
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                    float: right;
                    width: 100%;" type="file" #fileInput />
                </div>

                <div class="col-md-1" style="margin-top: 5px; padding-right: 0px;">
                    <button style="height: 38px;" class="btn btn-primary" (click)="validateExcel()">Check</button>
                </div>

                <div class="col-md-2" style="margin-top: 5px; padding-right: 0px;">
                    <button style="height: 38px;width: 200px;" class="btn btn-primary" (click)="downloadExcel(nldl_id)">Download Template</button>
                </div>
            </div>

            <p-table #dt [value]="validateTCKT01s" [rows]="5" [paginator]="true"
                [globalFilterFields]="['name','country.name','representative.name','status']"
                [rowHover]="true" dataKey="id"
                currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
                [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="model" style="text-align-last: center;">{{header1}} <p-sortIcon
                                field="model">
                            </p-sortIcon>
                        </th>
                        <th pSortableColumn="giatamtinh" style="text-align-last: center;">{{header2}} <p-sortIcon
                                field="giatamtinh">
                            </p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tckt let-i="rowIndex">
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td style="text-align-last: center;">{{tckt.model}}</td>
                        <td style="text-align-last: center;">{{tckt.giatamtinh}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Tổng thể có {{validateTCKT01s ? validateTCKT01s.length : 0 }} bản ghi.
                    </div>
                </ng-template>
            </p-table>

            <!-- <div *ngFor="let x of errorMessValidate"> -->
                <p-messages *ngIf="errorMessValidate.length !== 0" [(value)]="msg" [enableService]="false"></p-messages>
                <!-- <h4 class="alert-danger">{{x}}</h4> -->
            <!-- </div> -->

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="uploadFile(nldl_id,kybc_id)"></button>

        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</sb-layout-dashboard>