<sb-layout-dashboard [static]="false">
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
    <div class="card">
        <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
            <div class="p-col-8">
                <h4 style="color: #6190b6;">Nhóm người sử dụng</h4>

            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;              
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..." />

                <div style="float: right;">
                    <div>
                        <!-- [disabled]="roleName.length==0||role_name !== 'Manage user'" -->
                        <button [hidden]="!checkchucnangThem" pButton pRipple label="Thêm mới" style="height: 37px" icon="pi pi-plus"
                            class="p-button-success p-mr-2" (click)="openNew()"></button>
                    </div>
                </div>
            </div>
        </p-toolbar>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkXem" #dt [value]="NhomNSD" [rows]="10" [paginator]="true" styleClass="p-datatable-gridlines"
            [globalFilterFields]="['ten', 'country.name', 'representative.name', 'status']"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th pSortableColumn="Code" style="text-align-last: center">
                    Mã nhóm người sử dụng <p-sortIcon field="Id"> </p-sortIcon>
                </th> -->

                    <th pSortableColumn="ten" style="text-align-last: center">
                        Nhóm người sử dụng<p-sortIcon field="ten"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="SoNguoi" style="text-align-last: center">
                        Số người sử dụng <p-sortIcon field="SoNguoi"></p-sortIcon>
                    </th>
                    <th style="text-align-last: center">Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nhomNSD>
                <tr>
                    <!-- <td style="text-align-last: center">{{ nhomNSD.id }}</td> -->
                    <td style="text-align-last: center">{{ nhomNSD.ten }}</td>
                    <td style="text-align-last: center">{{ nhomNSD.SoNguoi }}</td>

                    <td style="text-align: center">
                        <!-- <button (click)="edit(role)" pButton pRipple icon="pi pi-eye"
                        class="p-button-rounded p-button-success p-mr-2"></button>
                    <button style="left: 10px;" (click)="delete(role)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-mr-2"></button>
                   -->
                        <div>
                            <div>
                                <!-- [disabled]="role_name === ''||role_name !== 'Manage user'||role_name === 'Manage master data'" -->
                                <button [hidden]="!checkchucnangSua" pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded p-button-success p-mr-2" (click)="edit(nhomNSD)"></button>
                                <button [hidden]="!checkchucnangXoa" style="left: 10px" (click)="delete(nhomNSD)" pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-mr-2"></button>
                            </div>
                        </div>
                    </td>

                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{ NhomNSD ? NhomNSD.length : 0 }} bản ghi.
                </div>
            </ng-template>
        </p-table>
    </div>

    <!-- --------------------dialog -->
    <p-dialog [(visible)]="EditDialog" [style]="{width: '900px' }" [modal]="true" styleClass="p-fluid">
        <p-header style="color: #6190b6;">
            Phân quyền
        </p-header>
        <ng-template pTemplate="content">

            <div class="row" style="margin-bottom: 25px;">

                <div class="col-md-5">
                    <div class="row" style="    margin-bottom: 10px;">
                        <h6>Nhóm người sử dụng</h6>
                    </div>
                    <!-- <div class="row" style="margin-bottom: 10px;">

                        <label for="name">CODE <span style="color: red;">*</span></label>
                        <input class="form-control py-2" style="     border-bottom-width: 1px;
                           float: right;
                           width: 312px;" type="text" pInputText id="Name" [(ngModel)]="nhomNSD.id" required
                            autofocus />
                            <small class="p-error" *ngIf="submitted && !nhomNSD.code">Chưa nhập CODE.</small>

                    </div> -->
                    <div class="row" style="margin-bottom: 10px;">

                        <label for="name">Tên nhóm NSD <span style="color: red;">*</span></label>

                        <!-- <input style="width: 170px;" type="text" pInputText id="ten" [(ngModel)]="nhomNSD.ten" required 
                               autofocus />
                           <small class="p-error" *ngIf="submitted && !user.FullName">Name is required.</small> -->
                        <input class="form-control py-2" style="     border-bottom-width: 1px;
                           float: right;
                           width: 312px;" type="text" pInputText id="Name" [(ngModel)]="nhomNSD.ten" required
                            autofocus />
                            <small class="p-error" *ngIf="submitted && !nhomNSD.ten">Chưa nhập tên nhóm NSD.</small>

                    </div>
                    <div class="row" style="margin-bottom: 10px;">

                        <label for="name">Trạng thái</label>

                        <select class="form-control py-2" style="     border-bottom-width: 1px;
                          float: right;
                          width: 312px;" id="trangthai" [(ngModel)]="nhomNSD.trangthai">
                            <option [value]="1">
                                Active
                            </option>
                            <option [value]="0">
                                InActive
                            </option>
                        </select>


                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row" style="    margin-bottom: 10px;">
                        <h6>Phân quyền chức năng</h6>
                    </div>
                    <div class="row">
                        <!-- <p-tree [value]="role.Id" selectionMode="checkbox" (change)="getRoleId($event,role.Id)" [(selection)]="role"></p-tree> -->
                        <!-- <p-tree [value]="file0" selectionMode="checkbox" ></p-tree>        -->
                        <h5 style="color: #6190b6;">BÁO CÁO</h5>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(1) !== -1" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="1" (change)="getChucNangId($event)"/> Xem báo cáo
                    </div>
                    <div class="row">
                        <h5 style="color: #6190b6;">NHẬP DỮ LIỆU</h5>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(2) !== -1" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="2" (change)="getChucNangId($event)" /> Upload dữ liệu
                    </div>
                    <div class="row">
                        <h5 style="color: #6190b6;">QUẢN TRỊ</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Nhóm nghiệp vụ | NNV</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(3) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="3" /> Thêm | NNV
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(4) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="4" /> Sửa | NNV
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(5) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="5" /> Xóa | NNV
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">MASTER DATA | MD</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Khu vực | KV</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(6) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="6" /> Xem | KV
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Tỉnh thành | TT</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(7) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="7" /> Xem | TT
                    </div>
                    
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Đại lý| DL</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(23) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="23" /> Thêm | DL
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(24) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="24" /> Sửa | DL
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(25) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="25" /> Xóa | DL
                    </div>

                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Sản phẩm | SP</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(26) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="26" /> Thêm | SP
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(27) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="27" /> Sửa | SP
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(28) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="28" /> Xóa | SP
                    </div>

                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Màu sắc | MS</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(29) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="29" /> Thêm | MS
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(30) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="30" /> Sửa | MS
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(31) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="31" /> Xóa | MS
                    </div>

                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Người dùng | ND</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(8) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="8" /> Thêm | ND
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(9) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="9" /> Sửa | ND
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(10) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="10" /> Xóa | ND
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(11) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="11" /> Phân theo nhóm Filter Báo cáo BI | ND 
                    </div>

                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Nhóm người sử dụng | NNSD</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(12) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="12" /> Thêm | NNSD
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(13) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="13" /> Sửa | NNSD
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(14) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="14" /> Xóa | NNSD
                    </div>
                   
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Cấu hình báo cáo | CHBC</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(15) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="15" /> Thêm | CHBC
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(16) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="16" /> Sửa | CHBC
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(17) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="17" /> Xóa | CHBC
                    </div>

                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Kỳ báo cáo | KBC</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(18) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="18" /> Thêm | KBC
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(19) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="19" /> Đóng / Mở | KBC
                    </div>

                    <div class="row">
                        &nbsp;&nbsp;&nbsp;<h5 style="color: #6190b6;">Nhóm loại dữ liệu | NLDL</h5><br>
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(20) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="20" /> Thêm | NLDL
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(21) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="21" /> Sửa | NLDL
                    </div>
                    <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [checked]="selectedChucNangs.indexOf(22) !== -1" (change)="getChucNangId($event)" style="margin-top: 8px; margin-right: 10px;" type="checkbox" [value]="22" /> Xóa | NLDL
                    </div>
                </div>
            </div>


        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

        </ng-template>
    </p-dialog>

    <!-- -------------------------------------dialog -->
    <p-confirmDialog [style]="{width: '750px'}"></p-confirmDialog>
</sb-layout-dashboard>