@import 'styles/variables.scss';

.sb-topnav .navbar-brand {
  width: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}
.bg-dark {
  background-color: #6190b6 !important;
}
// .sb-topnav{
//   width: 225px;
// }
.btn-sm, .btn-group-sm > .btn {
  padding: 0.2rem 0.2rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}