<sb-layout-dashboard [static]="false">
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
    <div class="card">
        <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
            <div class="p-col-8">
                <h4 style="color: #6190b6;">Quản lý sản phẩm</h4>

            </div>
            <div class="p-col-4">
                <input style=" width: 300px; 
                    margin-right: 10px;              
                    height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm ..." />
              
                <div style="float: right;" >
                    <div>
                        <!-- [disabled]="roleName.length==0||role_name !== 'Manage user'" -->
                        <button  pButton pRipple
                        label="Thêm mới" style="height: 37px" icon="pi pi-plus" class="p-button-success p-mr-2"
                        (click)="openNew()"></button>
                    </div>     
                </div>
            </div>
        </p-toolbar>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table
        [hidden]="!checkXem"
        #dt
        [value]="SanPham"
        [rows]="10"
        [paginator]="true"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="['ten', 'thoigiantao','trangthai']"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
        [showCurrentPageReport]="true" >
        <ng-template pTemplate="header">
            <tr>
              
                <th pSortableColumn="ten" style="text-align-last: center">
                Sản phẩm<p-sortIcon field="ten"> </p-sortIcon>
                </th>
                <th pSortableColumn="nguoitao" style="text-align-last: center">
                 Người tạo<p-sortIcon field="nguoitao"></p-sortIcon>
                </th>
                <th pSortableColumn="thoigiantao" style="text-align-last: center">
                  Thời gian tạo<p-sortIcon field="thoigiantao"> </p-sortIcon>
                </th>
                
                <th style="text-align-last: center">Thao tác</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sanPham >
            <tr>
                <!-- <td style="text-align-last: center">{{ nhomNSD.id }}</td> -->
                <td style="text-align-last: center">{{ sanPham.ten}}</td>
                <td style="text-align-last: center">{{ sanPham.nguoitao}}</td>
                 <td style="text-align-last: center;">{{sanPham.thoigiantao}}
                    </td>
                <td style="text-align: center">
                    <!-- <button (click)="edit(role)" pButton pRipple icon="pi pi-eye"
                        class="p-button-rounded p-button-success p-mr-2"></button>
                    <button style="left: 10px;" (click)="delete(role)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-mr-2"></button>
                   -->
                    <div>
                        <div>
                            <!-- [disabled]="role_name === ''||role_name !== 'Manage user'||role_name === 'Manage master data'" -->
                            <button
                                pButton
                                pRipple
                                icon="pi pi-eye"
                                class="p-button-rounded p-button-success p-mr-2"
                                (click)="edit(sanPham)"
                            ></button>
                            <button
                                style="left: 10px"
                                (click)="delete(sanPham)"
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-danger p-mr-2"
                            ></button>
                        </div>
                    </div>
                </td>
  
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Tổng cộng có {{ SanPham ? SanPham.length : 0 }} bản ghi.
            </div>
        </ng-template>
    </p-table>
    </div>  
    <!-- --------------------dialog -->
    <p-dialog [(visible)]="EditDialog" [style]="{width: '450px' }" [modal]="true"
        styleClass="p-fluid" >
        <p-header style="color: #6190b6;">
              Chi tiết
            </p-header>
        <ng-template pTemplate="content">
              <div class="row" style="margin-bottom: 10px;">
                      <div class="col-md-5">
                              <label for="name">Sản phẩm</label>
                          </div>          
                       <div class="col-md-7" >
                           <!-- <input style="width: 100%;"type="text" pInputText id="ten" [(ngModel)]="sanPham.ten" required
                               autofocus />
                           <small class="p-error" *ngIf="submitted && !daiLy.ten">Name is required.</small> -->
                           <input class="form-control py-2" style="     border-bottom-width: 1px;
                           float: right;
                           width: 312px;" type="boolean" pInputText
                               id="Name" [(ngModel)]="sanPham.ten" required autofocus />
                           
                       </div>
                       
              </div>
             
        </ng-template>  
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>  
        </ng-template>
    </p-dialog>
    <!-- -------------------------------------dialog -->
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </sb-layout-dashboard>