<sb-layout-dashboard [static]="false">
    <div class="card">
        <p-toolbar [hidden]="!checkXem" styleClass="p-mb-0">
            <div class="p-col-8">
                <h4 style="color: #6190b6;">Danh sách báo cáo</h4>
            </div>
            <div class="p-col-4">
                <input style=" width: 402px;
                height: 35px " pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Nhập dữ liệu cần tìm..." />

                <!-- [disabled]="roleName.length==0||role_name !== 'Manage user'" -->
                <button [hidden]="!checkchucnangThem" pButton pRipple label="Thêm mới" style="height: 37px"
                    icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            </div>
        </p-toolbar>
        <p-messages *ngIf="!checkXem" [(value)]="msg" [enableService]="false"></p-messages>
        <p-table [hidden]="!checkXem" #dt [value]="ConfigReports" [rows]="10" [paginator]="true"
            [globalFilterFields]="['BoPhan.text','text','trangthai']" styleClass="p-datatable-gridlines"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} bản ghi"
            [showCurrentPageReport]="true">

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="BoPhan.text" style="text-align-last: center;">Nhóm báo cáo <p-sortIcon
                            field="BoPhan.text">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="text" style="text-align-last: center;">Tên báo cáo <p-sortIcon field="text">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="trangthai" style="text-align-last: center;">Trạng thái <p-sortIcon
                            field="trangthai">
                        </p-sortIcon>
                    </th>
                    <th style="text-align-last: center;">Thao tác</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-configreport searchFilter:searchValue>
                <tr>

                    <td style="text-align-last: center;">{{configreport.BoPhan.text}}</td>
                    <td style="text-align-last: center;">{{configreport.text}}</td>
                    <td style="text-align-last: center;"><span
                            [class]="'configreport-badge trangthai-' + configreport.trangthai">{{configreport.trangthai?
                            "Active":"InActive"}}</span></td>

                    <td style="text-align: center;">
                        <button [hidden]="!checkchucnangSua" pButton pRipple icon="pi pi-eye"
                            class="p-button-rounded p-button-success p-mr-2" (click)="edit(configreport)"></button>
                        <button [hidden]="!checkchucnangXoa" style="left: 10px;" (click)="delete(configreport)" pButton
                            pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    Tổng cộng có {{ConfigReports ? ConfigReports.length : 0 }} báo cáo.
                </div>
            </ng-template>
        </p-table>
    </div>

    <p-dialog [(visible)]="EditDialog" [style]="{width: '600px'}" [modal]="true" styleClass="p-fluid">
        <p-header style="color: #6190b6;">
            Cấu hình báo cáo
        </p-header>
        <ng-template pTemplate="content">

            <div class="row" style="margin-bottom: 15px;">
                <!-- <label for="Id">Nhóm nghiệp vụ/ Bộ phận</label> -->
                <div class="col-md-5"><label for="Id">Nhóm nghiệp vụ/ Bộ phận <span style="color: red;">*</span></label>
                </div>
                <div class=col-md-7> <select [(ngModel)]="configreport.bophan_id" class="form-control py-2">
                        <option [value]="bp.id" *ngFor="let bp of BoPhans">{{bp.text}}</option>
                    </select>
                    <small class="p-error" *ngIf="submitted && !configreport.bophan_id">Chưa nhập CODE.</small>
                </div>

            </div>
            <div class="row" style="margin-bottom: 15px;">

                <div class="col-md-5"> <label for="Name">Tên báo cáo <span style="color: red;">*</span></label></div>
                <div class="col-md-7">
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="configreport.text" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !configreport.text">Chưa nhập tên báo cáo.</small>
                </div>
            </div>
            <div class="row" style="margin-bottom: 15px;">

                <div class="col-md-5"> <label for="Status">Tableau URL ID <span style="color: red;">*</span></label>
                </div>
                <div class="col-md-7">
                    <input class="form-control py-2" style="     border-bottom-width: 1px;
                float: right;
                width: 312px;" type="boolean" pInputText id="Name" [(ngModel)]="configreport.tableurl_id" required
                        autofocus />
                    <small class="p-error" *ngIf="submitted && !configreport.tableurl_id">Chưa nhập link báo
                        cáo.</small>
                </div>
            </div>
            <!-- <div class="p-field">
                <label for="Status">Trạng thái</label>
                <select style="WIDTH: 248PX; border-bottom-width: 1px; float: right;" [(ngModel)]="configreport.trangthai"
                    required autofocus >
                    <option [value]="1">
                        Active
                    </option>
                    <option [value]="0">
                        InActive
                    </option>
                </select>
            </div> -->
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    <p-toast></p-toast>
    <p-toast [style]="{marginTop: '40px'}" position="top-right" key="tr"></p-toast>
</sb-layout-dashboard>