
<template>
    <v-app>
        <left-side-bar v-if="isLoggedIn"></left-side-bar>
        <v-toolbar v-if="isLoggedIn" color="primary" height="50px" dark app :clipped-left="$vuetify.breakpoint.lgAndUp" fixed>
            <v-toolbar-title style="width: 100%" class="ml-0 pl-3">
                <v-toolbar-side-icon  @click.stop="show"></v-toolbar-side-icon>
                <span class="hidden-sm-and-down">THPT Chuyên Vĩnh Phúc</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu offset-y>
                <v-btn icon large slot="activator" dark>
                    <v-avatar size="42px"> 
                        <img src="../public/static/img/user.png" /> 
                    </v-avatar>
                </v-btn>
                <v-list>
                    <v-list-tile to="">
                        <v-list-tile-title>
                            {{user?user.Username:''}}
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile to="">
                        <v-list-tile-title>
                            Thông tin tài khoản
                        </v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile @click="logout()">
                        <v-list-tile-title>
                            Đăng xuất
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-toolbar>
        <v-content>
            <v-container fluid fill-height grid-list-md style="padding: 10px">
                <v-layout justify-center>
                    <router-view></router-view>
                </v-layout>
                <vue-snotify></vue-snotify>
            </v-container>
        </v-content>
    </v-app>
</template>

<script lang="ts">
    import "vue-snotify/styles/material.css";
    import "vue-snotify/styles/material.css";
    import { Vue } from 'vue-property-decorator';
    import auth from '@/auth';
    import store from '@/store/store';
    import LeftSideBar from '@/components/Layout/LeftSideBar.vue';
    export default Vue.extend({
        name: 'App',
        components: { LeftSideBar },
        data() {
            return {
                clipped: false,
                drawer: true,
                fixed: true, 
                miniVariant: false,
                right: true,
                rightDrawer: false,
                title: 'Title',
                user: {} as any
            };
        },
        computed: {
            isLoggedIn(): boolean {
                this.user = store.state.user.Profile
                return store.state.user
                    && store.state.user.AccessToken
                    && store.state.user.AccessToken.IsAuthenticated;
            }
        },
        created() { 
        },
        methods: {
            show() {
                store.state.app.showLeftSideBar = !store.state.app.showLeftSideBar
            },
            logout() {
                auth.logout();
            },
        }
    });
</script>
<style>

    #ex5 .p1[data-count]:after {
        position: absolute;
        right: 61%;
        top: -15%;
        content: attr(data-count);
        font-size: 14px;
        padding: .2em;
        border-radius: 50%;
        line-height: 1em;
        color: white;
        background: rgba(255,0,0,.85);
        text-align: center;
        min-width: 1.5em;
    }

    .v-toolbar__content {
        padding-left: 0px
    }

    #appDrawer {
        overflow: hidden;
    }

        #appDrawer .v-list__tile__action, #appDrawer .v-list__group__header .v-list__group__header__prepend-icon {
            min-width: 35px;
        }

        #appDrawer .v-list__group__header .v-list__group__header__prepend-icon {
            padding-right: 0;
        }

        #appDrawer .v-list__group__items--no-action .v-list__tile {
            padding-left: 35px;
        }

    .drawer-menu--scroll {
        height: calc(100vh - 100px);
        overflow: auto;
    }

    #headermenu .v-text-field.v-text-field--solo .v-input__control {
        min-height: 35px;
    }
    /* #headermenu .v-toolbar__content {
        background-image: url('/static/img/banner1.png'); background-size: 100% 100%;
    } */
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
    .v-btn {
        text-transform: none!important;
    }
</style>